@import "variable.scss";
.navbar-heading{
  font-family: $heading;
  font-size: 3em;
  color:#000;
}
a{
  text-decoration-line: none;
}
ul{
  list-style: none;
}

.navbar-toggle{
  display:none;
}

.signup-lnk,.signin-lnk,.signout-lnk{
font-family:$head-font;
color: #999;
font-size:1.1em;
margin:0.5em;
font-weight: bold;
&:hover{
  color:#000;
}
}
.signin-lnk{
  padding-right:0.5em;
  border-right:2px dotted $dark-color;
}
.author{
  font-family:$body-font;
  color:$head-color;
  font-size:0.707em;
  width:70%;
}

.text-center{
font-family: $head-font;
font-size:2.618em;
text-align:center;
}


.article-detail-title{
  font-family:$article-head;
  font-size:2.618em;
  font-weight: normal;
}
.login-btn,.signup-btn{
font-size:1em;
border-radius:2em;
letter-spacing: 1px;
}
.form-control{
  font-size:1em;
  padding:1.5em;
  padding-right:2em;
  border-radius:2em;
  letter-spacing:1px;
  border:none;
  background-color:$box-color;
  width:17em;
}
.login-btn{
  padding:1em;
  background:none;
  border:2px solid #2ecc71;
  &:hover{
    background-color: #2ecc71;
    color:#fff;
  }
}
.signup-btn{
  padding:1em;
  background:none;
  border:2px solid $sunheri;
  &:hover{
    background-color:$sunheri;
    color:#fff;
  }
}
.form-label{
  text-align:left;
}

.form-group{
  margin:1em;
}
.form-title,.form-body{
  width:85%;
  border-radius:0;
  background-color:#fff;
  border:2px solird #000;
  padding:1em;

}
.article-form{
  margin-top:0;
  margin-bottom:0;
}
.btn-wrapper{
  width:100%;
  text-align:right;
  margin-right:2em;
}
.form-title{
  clear:right;
  width:80%;
  font-weight:bold;
  font-size:2em;
  &:hover{
    background-color:$back-color;
  }
}
.form-body{
  width:85%;
font-size:1em;
}

.create-art{
  padding:1em;
  font-size:1em;
  border:none;
  border-radius:45px;
   transition: all 0.3s ease 0s;
  background:#fff;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  &:hover{
    background-color: #3498db;
    box-shadow: 0px 15px 20px rgba(52,152,219, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

}
.title-lnk{
  color: #000;
  font-family:$article-head;
  font-size:2.618em;
  font-weight: normal;
  line-height:1.2;
  &:hover{
    color:#e74c3c;
  }
}
.form-comment{
  width:90%;
}

#article-date{
  font-size: 0.707em;
width: 70%;
margin-bottom: 1em;
}

.new-article-lnk{
  color:#000;
  padding:1em;
  font-family:$article-head;
  background-color:#fff;
  box-shadow:2px 2px 2px 2px  rgba(189, 195, 199,0.5);
  border:none;
  &:hover{
    box-shadow: inset 2px 2px 2px 2px rgba(189, 195, 199, 0.2);
  }
}

.form-comment{
  background-color:$back-color;
}

.detail-wrapper{
  background-color: #fff;
}

.detail-article{
  border-bottom:2px solid #333333;
}


.name-author{
  font-size:1em;
  font-family: $comment-body;
}

.comment-body{
  font-size:1.618em;
  font-family: $comment-head;
}

.comment-time{
  font-size:0.618em;
}

.show-comment{
  color:#333;
  &:hover{
    color:#000;

  }
}

.edit-article{
  color:#27ae60;
  font-size:1em;
  font-weight:bold;
  border-right:2px dotted $dark-color;
  &:hover{
    color:#000;
  }
}

.delete-article{
  color:#c0392b;
  font-weight:bold;
  font-size:1em;
  &:hover{
    color:#000;
  }
}
