@import "variable.scss";
body{
}

.container-fluid{
display:flex;
}

.navbar-header{
  width:20%;
}
.navbar-collapse{
  width:80%;
}
.navbar-right{
  display:flex;
  flex-flow: row-reverse;
  a{
    padding-right:1.5em;
  }
}
.login-box,.signup-box{
  text-align: center;
}
