@import "variable.scss";
body{
}

.container-fluid{
display:flex;
}

.navbar-header{
  width:20%;
}
.navbar-collapse{
  width:80%;
}
.navbar-right{
  display:flex;
  flex-flow: row-reverse;
  a{
    padding-right:1.5em;
  }
}
.login-box,.signup-box{
  text-align: center;
}

.full-article,.detail-article,.comment-wrapper{
  text-align:center;
  margin:3em;
  width:90%;
}
.article-body{
width:70%;
font-size: 1.2em;
line-height: 1.5;
margin-left:auto;
margin-right:auto;
color:#353b48;

}

.alert-main{
  padding:1px;
  text-align: center;
  background:#ecf0f1;
  opacity:0.5;

}
.article-form{
  margin:1em;
}
.submit-wrapper{
  margin-right:3em;
}
.particle-screen{
  background-color:#fff;
  position:absolute;
  width:99%;
  height:100%;
  z-index: -1;
}
