@import "variable.scss";
body{
  background-color:$back-color;
  width:100%;
  height:100%;
}
.banner{
  background-color: #fff;
}


.container-fluid{
display:flex;
}

.navbar-header{
  width:20%;
}
.navbar-collapse{
  width:80%;
}
.navbar-right{
  display:flex;
  flex-flow: row-reverse;
}
.login-box,.signup-box{
  text-align: center;
}

.full-article,.detail-article,.comment-box{
  width:70%;
  background-color:#fff;
}
.comment-wrapper{
  border:none;
}
.article-body{
  width:80%;
font-size: 1em;
line-height: 1.24;
text-align: left;
color:#353b48;
}

.alert-main{
  padding:1px;
  text-align: center;
  background:#333;
  color:#fff;

}
.article-form{
  margin:1em;
}
.submit-wrapper{
  margin-right:3em;
}
.particle-screen{
  position:fixed;
  height:100%;
  z-index: -3;

}
.banner,.container{
  position:relative;
}
.article-title{
  width:100%;
}
.new-article-wrapper{
  margin:2em;
}

.comment{
  .comment-button-wrapper{
    .comment-button{
      padding:0.5em;
      color:#333;

      }
    }
  }
