@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Gilda+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Neuton');
@import url('https://fonts.googleapis.com/css?family=Istok+Web|Lora');
$heading: 'Gilda Display', serif;
$head-font: 'Josefin Slab',serif;
$article-head: 'Istok Web', sans-serif;
$body-font:'Lora', serif;
$comment-head:'Montserrat', sans-serif;
$comment-body:'Neuton', serif;
$sunheri:#e67e22;
$head-color: #2C3A47;
$back-color: #ecf0f1;
$box-color: #fff;
$dark-color:#bdc3c7;
