@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Dancing+Script|Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond|Julius+Sans+One|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Oranienbaum|Parisienne');

$heading: 'Parisienne', cursive;
$head-font: 'Josegin Slab',serif;
$sunheri:#e67e22;
$head-color: #2C3A47;
$back-color: #ecf0f1;
$box-color: #fff;
