@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Dancing+Script|Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

$heading: 'Great Vibes',cursive;
$head-font: 'Josegin Slab',serif;
$sunheri:#EAB543;
$head-color: #2C3A47;
